body {
    font-family: 'Courier New', Courier, monospace !important;

}

.navbar1 {
    background: linear-gradient(40deg, #606163, #0e1114);
}

.page-title {
    background: linear-gradient(40deg, #0e1114, #606163);
    width: 100% !important;
}
@media only screen and (max-width: 1920px) {
    html {
      zoom: 0.88 !important;
    }
    body{
        overflow-x: hidden;
    }
 
   
  }
@media only screen and (max-width: 600px) {

    .input-size {
        font-size: 10px !important;
    }

    ion-icon {
        font-size: 20px !important;
        padding-top: -2px !important;

    }
    .ion-icon {
        font-size: 20px !important;
        

    }
    .table{
        font-size: 10px!important;
    }
    .radio{
        font-size: 10px!important;
    }

    .table-text {
        font-size: 10px !important;
    }


    ::placeholder {
        text-indent: 10px;
        font-size: 10px;
    }

    .reset-reboot-font {
        font-size: 10px !important;
    }

    .reset-icon {
        font-size: 40px !important;
    }

    .card-content {
        font-size: 10px !important;
    }

    .btn-pass {
        width: 80px !important;
    }
}


ion-icon {
    font-size: 30px;
    padding-top: 5px;

}
.ion-icon {
    font-size: 30px;
    padding-top: 5px;

}
.logout-icon {
    font-size: 45px;
}


.menu-hover:hover {
    background-color: #05bed3cc !important;
    transform: scale(1.15) !important;
}

.menu-hover:active {
    background-color: #058492cc !important;
    transform: translateY(4px) !important;
}

.logout-hover:active {
    box-shadow: 1 2px #3d5a80 !important;
    transform: translateY(4px) !important;
}

.logout-hover:hover {
    box-shadow: 1 2px #98c1d9 !important;
}

.master-container {
    background: rgb(241, 248, 255)
}


.table-header {
    background: linear-gradient(40deg, #131c25, #373838);
    color: #e0fbfc;
}


.card-sizing {
   height: 450px;
    background-color: rgb(255, 255, 255);
}



.text-nav {
    color: #e0fbfc !important;

}


.icon-in-input {
    position: absolute;
    padding-left: 7px;

}

::placeholder {
    text-indent: 40px;
}

input {
    text-indent: 40px;
    border-bottom: 3px solid black !important;
    color: green;
}



.btn-pass {
    width: 200px
}

.checkbox {
    width: 60px !important;
    height: 30px !important;
}





.table-size {
    max-height: 280px !important;
}



